/* Sticky footer styles
-------------------------------------------------- */

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
.footermenu {
    position: absolute;
    bottom: 50px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 250px;
    background-image: linear-gradient(to right, #EBC51D , #E56500);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #2c2f33;
}
.pee {
    color : #EBC51D;
    font-family: Arial, Helvetica, sans-serif;
}
  
