<div class="col-lg-3">
    <div class="list-group">
        {% for category in categories %}
        {% if categoryid != None and categoryid == category.id %}
        <a href="{{url_for('showCategory', categoryid=category.id)}}" class="list-group-item active">{{category.name}}</a>
        {% else %}
        <a href="{{url_for('showCategory', categoryid=category.id)}}" class="list-group-item">{{category.name}}</a>
        {% endif %}
        {% endfor %}
        <a href={{url_for('newCategory')}}>
            <span class="btn">
                <i class="far fa-plus-square"></i>
            </span>
        </a>
        {% if categoryid != None %}
        <a href={{url_for('editCategory', categoryid=categoryid)}}>
            <span class="btn">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href={{url_for('deleteCategory', categoryid=categoryid)}}>
            <span class="btn">
                <i class="far fa-trash-alt"></i>
            </span>
        </a>
        {% endif %}

    </div>
</div>