{% extends "index.html" %}
{% block snippet %}
<h1>New category</h1>

<form action='{{url_for('newCategory')}}' method='POST'>
      <div class="form-group">
            <label for="newprompt">Enter the name you would like your category to have.</label>
            <input type='text' class="form-control" id="newprompt" aria-describedby="newHelp" value='Create'>
            <small id="newHelp" class="form-text text-muted">You can change your name later on by editing the category.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button> 
      <a href='{{url_for('index')}}'>Cancel</a>
</form>
{% endblock %}