{% extends "index.html" %}
{% block snippet %}
<div class="col-lg-3">
      <div class="list-group">
      {% for item in items %}
            {% if categoryid != None and itemid != None and categoryid == item.category_id and itemid == item.id %}
                  <a href="{{url_for('showItem', categoryid=item.category_id, itemid=item.id)}}" class="list-group-item active">{{item.name}}</a>
            {% else %}
                  <a href="{{url_for('showItem', categoryid=item.category_id, itemid=item.id)}}" class="list-group-item">{{item.name}}</a>
            {% endif %}
      {% endfor %}
      <div class="btn">
            <a href={{url_for('newItem', categoryid=categoryid)}} class="btn btn-default">
                  Add new item
            </a>
            {% if categoryid != None and itemid != None %}
            <a href={{url_for('editItem', categoryid=categoryid, itemid=itemid)}} class="btn btn-default">
                  Edit item
            </a>
            <a href={{url_for('deleteItem', categoryid=categoryid, itemid=itemid)}} class="btn btn-default">
                  Delete item
            </a>
        {% endif %}
      </div>
</div>
<div class="container">
      {% block window %}
      {% endblock %}
</div>
{% endblock %}