{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      {% include "categoriesmenu.html" %}
      <div class="container">
			  {% block snippet %}
			  {% endblock %}
		</div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container --> 

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Richard Skogeby 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></script>

{% endblock %}