{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>Item Catalog</h1>
      </div>
      {% if request.path == '/' %}
      <div class="col-lg-3">
        <h3>Latest items</h3>
      </div>
      {% endif %}
    </div>
    <!-- /.row --> 
    <div class="row">      
        {% include "categoriesmenu.html" %}
			  {% block snippet %}
			  {% endblock %}
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></script>

{% endblock %}