{% extends "index.html" %}
{% block snippet %}
<div class="col-lg-3">
<h1>Delete item</h1>
  <form action='{{url_for('deleteItem', categoryid=category.id, itemid=itemid)}}' method='POST'>
    <div class="form-group">
      <label for="deleteprompt">Are you sure you want to delete {{item.name}}?</label><br/>
      <button type="submit" class="btn btn-danger" id="deleteprompt" aria-describedby="deleteHelp">Delete</button><br/>
      <small id="deleteHelp" class="form-text text-muted">Deleted items cannot be recovered.</small><br/>
    </div>
  <a href='{{url_for('showCategory', categoryid=categoryid)}}'>Cancel</a>
</form>
</div>
{% endblock %}