{% extends "index.html" %}
{% block snippet %}
<h1>Edit item</h1>
<form action='{{url_for('editItem', categoryid=categoryid, itemid=itemid)}}' method='POST'>
      <div class="form-group">
            <input type='text' name="name" class="form-control" placeholder='{{item.name}}'>
      </div>
      <div class="form-group">
            <input type='text' name="description" class="form-control" placeholder='{{item.description}}'>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button> 
      <a href='{{url_for('showCategory', categoryid=categoryid)}}'>Cancel</a>
</form>
{% endblock %}