<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="theme-color" content="#EBC51D" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	 crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>

	<!-- Footer -->
	<div class="footermenu">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<p class="text-muted">Copyright &copy; Richard Skogeby 2019</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>