<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="theme-color" content="#EBC51D" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	 crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="container-fullwidth">	
		{% block content %}
		{% endblock %}
		
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-10">
					<p class="text-muted">Copyleft <span style="display:inline-block; transform: rotate(180deg);">&copy;</span> Richard Skogeby 2019 | <a href="{{url_for('privacy')}}" class="link">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</footer>
	</div>

	<!-- Footer -->

</body>

</html>